CRAWLING_MCP_LOG_LEVEL=INFO
CRAWLING_MCP_REPOSITORY=file
CRAWLING_MCP_DATA_DIR=data
CRAWLING_MCP_AUTH_PROFILES_PATH=config/auth_profiles.yaml
CRAWLING_MCP_ALLOW_PRIVATE_NETWORKS=false
CRAWLING_MCP_DOMAIN_ALLOWLIST=[]
EXAMPLE_USERNAME=
EXAMPLE_PASSWORD=
TEST_SITE_USERNAME=test-user
TEST_SITE_PASSWORD=test-password

